*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Roboto', sans-serif;
}

/********* NAVBAR **********/
.nav-fondo{
  background-color: white; 
}
.navbar-default{
  border-color: white;

}
.logo{
  margin-top: 40px;
  margin-left: 100px;
}
.nav-links{
  margin-right: 50px;
}
.link{
  margin: 15px;
}

/***** FIRST CONTAINER ******/
.first-section{
  background-image: url(../img/taxi.jpg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;

}
.sign-in{
  height: 300px;
  background-color: #f7b617;
  right: 0px;
  margin-top: 160px;
  float: right;
  color: white;
  padding: 35px 40px;
}
.titulo-viaje{
  font-size: 230%;
}
input{
  background-color: #f7b617;
  border: none;
  border-bottom: 0.05px solid;
}
.registrate{
  margin-top: 20px;
}
.text{
  height: 350px;
  background-color: #f7b617;
  right: 0px;
  margin-top: 160px;
  float: right;
  color: white;
  padding: 35px 30px;
}
.btn{
  border-radius: 5px;
  margin-top: 15px;
  width: 250px;
  font-size: 125%;
}

/***** SECOND CONTAINER ******/
.second-section{
  background-color: #f7b617;
  height: 500px;
}
#container{
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 10px;
  margin-right: 300px;
}
#second-section{
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 140px;
  border: solid white;
}
.descarga-app{
  margin-left: 80px;
}
.descarga{
  color: white;
  font-size: 190%;
}
.descarga-1{
  color: white;
  font-size: 135%;
  margin-top: 20px;
}

/***** THIRD CONTAINER ******/
.third-section{
  background-image: url(../img/conduce.jpg);
  height: 60vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment : fixed;
}
#third-section{
  background-color: rgba(0,0,0,0.5);
  float: right;
  height: 60vh;  
}
.conduce{
  width: 90%;
  margin-top: 80px;
  padding-left: 60px;
}
.conduce-1{
  color: white;
  font-size: 190%;
  padding-left: 20px;
}
.conduce-2{
  color: white;
  padding-left: 20px;
}
.btn-conduce{
  background-color: #f7b617;
  border-radius: 5px;
  margin-left: 20px;
  width: 250px;
  font-size: 120%;
  border: #f7b617;
  padding: 5px;
  color: white;
}
/***** FOURTH CONTAINER ******/
.fourth-section{
  height: 70vh;
}
#map{
  margin-top: 30px;
  width: 450px;
  height: 60vh;
  border: 2px solid white;
}
.fourth-section{
  background-color: #f7b617;
}
.tarifa-principal{
  color: white;
}
.tarifa{
  padding-top: 30px;
}
.input{
  background-color: #f7b617;
  color: white;
  border: 1px solid white;
}
.btn-ruta{
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 150px;
  font-size: 80%; 
}

/***** FIFTH CONTAINER ******/
.fifth-section{
  background-color: #2b2b2b;
}
a:hover{
  text-decoration:none;
  color: #f7b617;
}
li{
  list-style: none;
  padding-top: 15px;
}
.links-footer{
  color: white;
  margin-bottom: 40px;
}
.img-store{
  margin-top: 140px;
}
.img-store-2{
  margin-top: 20px;
}
.icon-redes{
  margin-top: 270px;
  color: white;
}



